/*+ колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* білий #FFFFFF */
/* голубий акцент #2196F3 */
/* ссилки адреса color: rgba(255, 255, 255, 0.6); */
/* заливка футер. героя background: #2F303A; */
/* заливка команда background: #F5F4FA; */

:root{
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color:#E5E5E5;
    --wite-color:#ffffff;
    --background-hero-color:#2F303A;
    --adress-color:rgba(255, 255, 255, 0.6);
}

body {
background: var(--wite-color);
color: var(--primary-text-color);
font-family: Roboto,sans-serif;
letter-spacing: 0.03em;
                                        /* logo */
}
.logo {
    color: var(--primary-text-color);
    font-family: Raleway, serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19; 
}
.logo span {
    color: var(--accent-color);
}
.logo:hover, 
.logo:focus{
    color: var(--accent-color);
}
                           /* приберае підкреслення */
.link {
text-decoration: none
}
                           /* сброс стилю елемента(точки списків) */
.list {
    list-style: none;
}
                                 /* навігація */
.link-nav {
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}
.site-nav .link-nav:hover, 
.site-nav .link-nav:focus {
    color: var(--accent-color);
} 
                                  /* помічає поточну сторінку */
.site-nav .curent{
    color:var(--accent-color)
}
                                   /* контакти тел та емейла */
.contact .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
   
}
                                          /* Hero */
.hero {
    color: var(--wite-color);
    background-color: var(--background-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    color: var(--wite-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--title-text-color);
}
                                 /* company qualit */
.section .section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section .title-info {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
}

                                        /* фото праці */
.section .section-title.subject{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
  }
                                 /* our team */
.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}
.team .section-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
.profession{
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
                 /* adress */
.footer.list{
    background-color:var(--background-hero-color);
    color:var(--adress-color)
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.contact .contact-gps{
    color: var(--wite-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

                                   /* Portfolio */
                                   /* кнопки */
.button {
    background-color: var(--primary-bg-color);
}
.button:hover,
.button:focus {
    color: var(--wite-color);
    background-color: var(--accent-color)
}



.feature .title {
    color: var(--primary-text-color);
}










